---

- name: Download binary release
  unarchive:
    src: "{{ teleport__binary_compat_url }}"
    dest: /tmp
    remote_src: yes
    validate_certs: false

- name: Copy binaries
  copy:
    dest: "/usr/local/bin/{{ item }}.compat"
    src: "/tmp/teleport/{{ item }}"
    owner: root
    group: root
    mode: 0555
    remote_src: true
  with_items:
    - teleport
    - tsh
    - tctl

- name: Create systemd override folder
  file:
    path: "/etc/systemd/system/teleport.service.d"
    state: directory

- name: Override systemd configuration
  template:
    dest: "/etc/systemd/system/teleport.service.d/override.conf"
    src: "teleport.override.conf.j2"
    owner: root
    group: root
    mode: 0444
  notify:
    - reload systemd
    - restart teleport
