{{ ansible_managed | comment }}
---

version: v2
teleport:
  nodename: {{ teleport__nodename }}

{% if teleport__proxy %}
  data_dir: /var/lib/teleport
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: []
{%endif%}

{% if teleport__node %}
## remote proxy
  auth_token: "{{ teleport__node_token }}"
  auth_servers:
  - "{{ teleport__node_server }}"
{%endif%}

{%- if teleport__diag %}

  diag_addr: "{{ teleport__diag_addr}}:{{ teleport__diag_port}}"
{%endif%}

auth_service:
{% if teleport__auth %}
  enabled: "yes"
  listen_addr: {{ teleport__auth_addr }}:{{ teleport__auth_port }}
  cluster_name: {{ teleport__auth_cluster_name }}
  proxy_listener_mode: multiplex
{%else%}
  enabled: "false"
{%endif%}

ssh_service:
{% if teleport__ssh %}
  enabled: "yes"
  listen_addr: {{ teleport__ssh_addr }}:{{ teleport__ssh_port }}
{% if teleport__ssh_labels is defined %}
  labels:
{% for label_id, value in teleport__ssh_labels.items() %}
    {{ label_id }}: {{ value }}
{% endfor %}
{% endif %}
  commands:
  - name: hostname
    command: [hostname]
    period: 1m0s
{%else%}
  enabled: "false"
{%endif%}

proxy_service:
{% if teleport__proxy %}
  enabled: "yes"
  web_listen_addr: {{ teleport__web_addr }}:{{ teleport__web_port }}
  public_addr: {{ teleport__proxy_public_addr }}:{{ teleport__web_port }}
  tunnel_listen_addr: {{ teleport__tunnel_addr }}:{{ teleport__tunnel_port }}
{% if teleport__proxy_acme %}
  https_keypairs: []
  acme:
    enabled: "yes"
    email: {{ teleport__proxy_acme_email }}
{% else %}
  https_keypairs:
  - key_file: /etc/letsencrypt/live/{{ teleport__proxy_public_addr }}/privkey.pem
    cert_file: /etc/letsencrypt/live/{{ teleport__proxy_public_addr }}/fullchain.pem
  acme: {}
{% endif %}
{%else%}
  enabled: "false"
{%endif%}

{% if teleport__app %}
app_service:
  enabled: yes
  apps:
{% for app in teleport_applications %}
  - name: "{{ app.name }}"
    uri: "{{ app.uri }}"
{% if app.skip_verify | default(false) %}
    insecure_skip_verify: true
{% endif %}
{% endfor %}
{%endif%}
